extends ../_base
include ../_components/components

block footer
  +footer

block content
  h1 SCSS Responsive Setup
  p These are compilations of JS exercises I completed while reading Eloquent Javascript. Some of them are modified versions of the actual excercises to either try things out or simply to challenge myself.

  pre
    code.
      console.log('bye');
      console.log('hi');
        console.log('hello');
