extends ../_base
include ../_components/components

block footer
  +footer

block content
  h1 JavaScript Exercises
  p These are compilations of JS exercises I completed while reading Eloquent Javascript. Some of them are modified versions of the actual excercises to either try things out or simply to challenge myself.
