.header {
  @extend %flex;
  @extend %center;
  width: 5%;
  order: 2;
  transition: 0.4s ease all;
  position: fixed;
  right: 0;
  z-index: 1;

  @include breakpoint(xs) {
    width: 30%;
  }

  &__toggle {
    @extend %button-unstyle;
    width: 35px;
    height: 35px;
    background: $teal;
    border-radius: 50%;
    position: fixed;
    top: 40%;
    left: 92%;
    z-index: 2;
    transition: 0.4s ease all;

    &:hover,
    &:focus,
    &:active {
      background: $teal;
    }

    @include breakpoint(xs) {
      display: none;
    }
  }

  &__wrapper {
    display: none;
    text-align: center;
    padding-top: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 220px;
    margin: auto;

    @include breakpoint(xs) {
      display: block;
    }
  }

  &__list {

    a {
      @extend %font-oswald;
      @include font-size(25);
      display: inline-block;
      font-weight: 300;
      text-transform: uppercase;
      color: $black;
      text-decoration: none;
      margin-bottom: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &--external {
      @extend %flex;
      @extend %center;
      border-top: 3px solid $teal;
      padding-top: 0.5rem;

      a {
        margin: 0 0.5rem;
        text-transform: none;
      }
    }
  }
}

.nav-active {

  .header {
    width: 95%;

    &__toggle {
      left: 2%;
    }

    &__wrapper {
      display: block;
    }
  }
}

.article {

  .header {

    &__list--internal {
      text-align: left;
      padding-bottom: 0.5rem;

      a {
        @include font-size(18);
        margin-bottom: 0.5rem;
        text-transform: none;
      }

    }
  }
}
