block data

doctype
html.no-js

  head

    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

    style!= fs.readFileSync(`./public/styles/${styles['critical-styles.min.css']}`)

    script!= fs.readFileSync(`./public/scripts/${scripts['critical-scripts.bundle.js']}`)

    block page-styles

    body
      include _icons

      block header

      block content

      block footer

    include _load-styles

    script(src= './scripts/' + scripts['main.bundle.js'], defer)
