html {
  height: 100%;
}

body {
  @extend %flex;
  background: $white-off-1;
  visibility: hidden;
  max-width: 1440px;
  margin: auto;
}

.no-js body,
.wf-active body {
  visibility: visible;
}

strong,
b {
  font-weight: 800;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.layout {
  background: $white;
  width: 95%;
  order: 1;
  position: relative;
  transition: 0.4s ease all;

  @include breakpoint(xs) {
    width: 70%;
  }

  .layout__wrapper {
    max-width: 850px;
    padding: 1rem;
    padding-right: 2rem;

    @include breakpoint(xs) {
      padding: 2rem;
    }
  }
}

.nav-active {
  height: 100%;

  .layout {
    height: 100%;
    width: 5%;

    &__wrapper {
      display: none;
    }
  }
}

footer {
  margin-top: 4rem;
}
