.about,
.skills,
.experiences,
.projects,
.studies {
  margin-bottom: 4rem;
}

.about {

  &__content {
    padding-left: 0.5rem;
  }
}

.skills {

  &__list {

    &__item {
      @extend %list-bullets;
      width: 100%;
      margin-bottom: 1.5rem;

      @include breakpoint(xxs) {
        width: auto;
        margin-right: 2rem;
      }

      @include breakpoint(xs) {
        margin-right: 4rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &__name {
        margin: 0;
      }

      &__description {
        @include font-size(13);
        margin: 0;
        margin-bottom: 0.5rem;
      }

      strong {
        font-weight: 400;
        color: darken($grey-dark-1, 25%);
      }
    }
  }
}

.experiences {

  &__list {
    padding-left: 0.5rem;

    &__break {
      display: none;

      @include breakpoint(sm) {
        display: inline-block;
        margin: 0 0.25rem;
      }
    }

    &__content {
      display: block;

      @include breakpoint(sm) {
        display: inline;
      }
    }

    &__item {
      @extend %list-bullets;
      margin-bottom: 2.5rem;

      strong {
        font-weight: 400;
        color: darken($grey-dark-1, 25%);
      }

      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}
