html,
body {
  @extend %font-base;
  @extend %font-merriweather-sans;
  color: $grey-dark-1;
  line-height: 1.4;
}

h1 {
  @extend %font-oswald;
  @include font-highlight($black, $teal);
  @include font-size(40);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
}

h2 {
  @extend %font-oswald;
  @include font-size(40);
  font-weight: 300;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 2rem;
}

h3 {
  @extend %font-oswald;
  @include font-highlight($black, $teal);
  @include font-size(25);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
}

h4 {
  @extend %font-oswald;
  @include font-size(25);
  font-weight: 300;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

a {
  font-weight: 400;
  text-decoration: underline;
  color: darken($teal, 10%);

  &:hover {
    text-decoration: none;
  }
}

h5 {
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: darken($grey-dark-1, 50%);
}

.article .layout {
  @extend %list-bullets;
}
